.totalCard {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  background-color: #d3d1d1;
  border-radius: 16px;
}

.cardImage {
  width: 500px;
  height: 280px;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  border: 2px #000000 solid;
  border-bottom: 1px transparent solid;
}

.iframe {
  width: 1440px;
  height: 900px;
  transform: scale(0.35);
  transform-origin: 0 0;
  border: none;
}

.cardInfo {
  border-radius: 0 0 16px 16px;
  border: 1px #000000 solid;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 2px #000000 solid;
  border-top: 1px #000000 solid;
}

.cardAbout {
  display: flex;
  flex-direction: column;
  gap: 10;
  text-align: left;
  margin: 10px 0;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardAboutTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 1px #000000 solid;
  a {
    color: inherit;
  }
}

.cardDetailsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardAboutDiv {
  font-weight: 600;
}
