:root {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0d2f3f;
  background-color: #f8f7f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  height: auto;
}

.swiper {
  width: 500px;
}
